.toggle.active .toggle-handle {
  left: 48px; /* ON FOR ANDROID */
  -webkit-transform: none;
          transform: none; /* OFF for Android */
}

.toggle-handle {
	-webkit-transition: none;
			transition: none; /* OFF for Android */
}